.formContainer {
    background: var(--content-bg);
    border-radius: var(--radius);
    max-width: 680px;
    width: 100%;
    min-height: 680px;
    position: relative;
    padding: 57px 65px 65px;
    box-shadow: 0 0 5px #000;

    h2 {
        width: 100%;
        text-align: start;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 40px;

    }
}

.form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:30px;

    label, div{
        width: 100%;
        flex :1;
        legend{
            text-transform: capitalize;
            margin-bottom: 5px;
            height: 25px;
        }
    }
    input{
        font-size: 14px;
    }

    label:has(select[name="option"]) {
        flex-basis: 100%;
    }
    .gender{
        display: flex;
        flex-direction: row;
        align-items: start;
        flex-wrap: wrap;
        legend{
            width :100%;
        }

        label{
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            input[type="radio"]{
                appearance: none;
                width : 20px;
                height: 20px;
                margin-right: 20px;
                border : none;
                outline: none;
                cursor: pointer;
                position: relative;
            }

            input[type="radio"]::before{
                content: "";
                position: absolute;
                inset: 0;
                background: var(--input-bg);
                box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
                border-radius: 50%;
            }
            input[type="radio"]::after{
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                background: transparent;
                border-radius: 50%;
                top :50%;
                left :50%;
                transform: translate(-50%,-50%);
                transition: all 0.4s ease;
            }

            input[type="radio"]:checked::after{
                background: #4CAF50;
            }
            p{
                text-transform: capitalize;
            }
        }
    }

    input:not([type="radio"]), select{
        border : none;
        outline: none;
        background: var(--input-bg);
        box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
        color :inherit;
        border-radius: 5px;
        padding: 0 20px;
        height: 50px;
        min-width :260px;
        width :100%;
    }
    select{
        position: relative;
        appearance: none;
    }
    label:has(select[name="option"]) {
        position: relative;
        span{
            position: absolute;
            display: block;
            right: 15px;
            top: 70%;
            transform: translateY(-50%);
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid var(--color);
            pointer-events: none; 
        }
    }

    button {
        background: var(--button-color);
        color :#fff;
        transition: all 0.4s ease;
        cursor: pointer;
        transition: all 0.4s ease;
        cursor: pointer;
        font-size: 18px;
        font-size: 18px;
        padding: 0 50px;
        line-height: 50px;
        border-radius: 5px;

        &:hover {
            background: #3868cd;
        }
    }
}