:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  --body-bg: #ffaaf2;
  --color : #4a4a4a;
  --max-width : 1440px;
  --padding: 10px;


  @media screen and (max-width: 768px) {
    --padding : 5px;
  }

  @media screen and (max-width: 480px) {
    --padding : 2px;
  }
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: var(--body-bg);
  color: var(--color);
}
a {
  color: inherit;
  text-decoration: none;
}
