:root {
  --body-bg-gradient: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);
  --color: #555;
  --title-color : #555;
  --button-color: #4272d7;
  --content-bg: #fff;
  --radius: 10px;
  --input-bg: #fafafa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--body-bg-gradient);
  color: var(--color);

  font-family: "Poppins", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: var(--font-size);
}

main{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


button{
  cursor: pointer;
  border: none;
  outline: none;
}

h2{
  font-size: 24px;
}
input{
  font-size: 14px;
}